AZURE_OPENAI_GPT54_BASE=
AZURE_OPENAI_GPT54_KEY=
AZURE_OPENAI_GPT54_VERSION=2025-04-01-preview
AZURE_OPENAI_GPT54_DEPLOYMENT=gpt-5.4-common
AZURE_OPENAI_GPT54_RESOURCE_GROUP=
AZURE_OPENAI_GPT54_REGION=

AZURE_OPENAI_GPT53CODEX_BASE=
AZURE_OPENAI_GPT53CODEX_KEY=
AZURE_OPENAI_GPT53CODEX_VERSION=2025-04-01-preview
AZURE_OPENAI_GPT53CODEX_DEPLOYMENT=gpt-5.3-codex-common
AZURE_OPENAI_GPT53CODEX_RESOURCE_GROUP=
AZURE_OPENAI_GPT53CODEX_REGION=

SAP_CLIENT_ID=
SAP_CLIENT_SECRET=
SAP_TOKEN_URL=
SAP_API_URL=
SAP_RESOURCE_GROUP=genius
SAP_MODEL_DISCOVERY_URL=https://api.ai.prod.eu-central-1.aws.ml.hana.ondemand.com/v2/lm/scenarios/foundation-models/models
SAP_ANTHROPIC_MODEL=anthropic--claude-4.6-opus
SAP_GEMINI_MODEL=gemini-2.5-pro
SAP_THINKING_MODE=adaptive
SAP_THINKING_BUDGET_TOKENS=12000

UPLOAD_DIR=./uploads
